<h1>New Bookmarks</h1>
<div class="row">
  <div class="medium 8 columns">
    <%= form_for  [@topic, @bookmark] do |f| %>
      <div class="form-group">
        <%= f.label :url %>
        <%= f.text_field :url, class: 'form-control', placeholder: "Enter bookmark url" %>
      </div>
      <%= f.submit "Save", class: 'button round success' %>
    <% end %>
   </div>
</div>